/build/
/dist/
*.o
*.so
*.so.*
*.a
*.tar.gz
*.run
*.pid
/demo/host_server
/demo/npu_reader
/full_hcomm/npu_reader
/full_hcomm/host_server
/full_hcomm/source/
/full_hcomm/deploy/
/full_hcomm/python_deps/
__pycache__/
